# Node.js Environment & Switches
NODE_ENV=xxx
NEXT_PUBLIC_ENABLE_SUPABASE=xxx

# Public facing base urls
NEXT_PUBLIC_BASE_URL=xxx
NEXT_PUBLIC_APP_URL=xxx
NEXT_PUBLIC_API_URL=xxx

# Public Stripe Key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=xxx

# Public Supabase Keys
NEXT_PUBLIC_SUPABASE_PROJECT_REF=xxx
NEXT_PUBLIC_SUPABASE_URL=xxx
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=xxx

# Google Public Key
NEXT_PUBLIC_GOOGLE_CLIENT_ID=xxx

# CI/CD (GitHub Actions + Playwright)
CI=xxx
BASE_URL=xxx

# Google Private Keys
GOOGLE_CLIENT_SECRET=xxx

# Apple Private Keys
APPLE_CLIENT_ID=xxx
APPLE_CLIENT_SECRET=xxx
APPLE_PAY_MERCHANT_DOMAIN=xxx
APPLE_PAY_CERTIFICATE=xxx

# Stripe Private Keys
STRIPE_SECRET_KEY=xxx
STRIPE_WEBHOOK_SECRET=xxx

# PayPal Private Keys
PAYPAL_CLIENT_ID=xxx
PAYPAL_CLIENT_SECRET=xxx
